.mathml-preview {
    min-height: 5vh;
    margin: 2em;
    overflow: auto;
    padding:2em;
}
 


/*
.starmath-input{    
}
.latex-input {
   
}
.math-text-input::placeholder {
    color: gray;
    font-style: italic;
    font-size: 14px;
}
*/
.math-text-input {
    width: 100%;
    min-height: 20wh;    
}

.waiting {
    visibility:visible;
}
.not-waiting {
    visibility:hidden;
}

.preview-spinner {
    text-align:right;
    padding-right:1em;    
}