div.ProseMirror {
    font-size: 16px;
    font-weight: normal;

    --chemistry-background-color: rgba(196, 248, 255, 0.397);
    --math-background-color: rgba(255, 196, 255, 0.397);
    --braille-background-color: rgba(208, 255, 196, 0.397);

    --inline-block-border-radius: 8px;
    --block-border-radius: 8px;


    h1 {
        font-size: 30px;
        font-weight: bold;
    }

    math {
        font-size: 130%;
        /*background-color:rgba(196, 248, 255, 0.397);*/
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-radius: var(--inline-block-border-radius);
    }

    math:not([chemistry="true"]) {
        background-color: var(--math-background-color);

        /* Mascret bikeshedding */
        mi:after {
            content: "";
            display: inline-block;
            width: 0.2em;
        }
    }

    math[chemistry="true"]::before {
        content: "chimie";
        width: 3em;
        padding-right: 0.1rem;
        font-size: 10px;
        width: 0.2em;
        vertical-align: text-top;
    }

    math[chemistry="true"] {
        background-color: var(--chemistry-background-color);
    }

    pre[splitable] {
        background-color: var(--braille-background-color);
        border: 2px solid var(--braille-background-color);
        border-radius: var(--block-border-radius);
        padding: .5rem;
    }

}

div.ProseMirror {

    --grade-specification-color: rgba(0, 0, 0, 1);
    --grade-specification-background-color: rgba(174, 0, 255, 0.322);

    --grade-specification-tag-color: rgba(0, 0, 0, 1);
    --grade-specification-tag-background-color: rgba(174, 0, 255, 0.774);
    --grade-specification-tag-border-color:rgba(174, 0, 255, 1);
    --grade-specification-tag-radius:    3px;

    span[data-grade] {
        background-color: var(--grade-specification-background-color);
        color: var(--grade-specification-color);
        margin: .2em 0em 0em .2em;
    }
    span[data-grade]::before,
    span[data-grade]::after {
        background-color: var(--grade-specification-tag-background-color);
        color: var(--grade-specification-tag-color);
    }


    span[data-grade="g0"]::before {
        content: "g0";
    }

    span[data-grade="g1"]::before {
        content: "g1";
    }

    span[data-grade="g2"]::before {
        content: "g2";
    }

    span[data-grade="g0"]::after {
        content: "g0";
    }

    span[data-grade="g1"]::after {
        content: "g1";
    }

    span[data-grade="g2"]::after {
        content: "g2";
    }

    
    span[data-grade]::before,
    span[data-grade]::after {
        vertical-align: text-top;
        border : 4px solid;
        border-color: var(--grade-specification-tag-border-color);
        border-bottom: 0;
        font-size: xx-small;        
        padding-bottom:5px;
    }

    span[data-grade]::before {
        border-right: 0;
        padding-right:.25em;
        border-top-left-radius: var(--grade-specification-tag-radius);

    }

    span[data-grade]::after {
        border-left: 0;
        padding-left:.25em;
        border-top-right-radius: var(--grade-specification-tag-radius);

    }

}

div.ProseMirror.debug-view-structure {

    h1::before,
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before,
    p::before,
    ul::before,
    ol::before,
    li::before,
    math::before,

    h1::after,
    h2::after,
    h3::after,
    h4::after,
    h5::after,
    h6::after,
    p::after,
    ul::after,
    ol::after,
    li::after,
    math::after {
        display: inline-block;
        height: 25px;
        vertical-align: super;

        top: -50%;
        border: 2px solid rgb(0, 0, 0);
        padding: 3px;
        border-radius: 3px;

        font-weight: bold;
        font-size: 10px;

        background: rgb(32, 185, 101);
        color: white;

    }

    h1::before {
        content: "h1";
    }

    h2::before {
        content: "h2";
    }

    h3::before {
        content: "h3";
    }

    h4::before {
        content: "h4";
    }

    h5::before {
        content: "h5";
    }

    h6::before {
        content: "h6";
    }

    p::before {
        content: "p";
    }

    math::before {
        content: "math";
    }

    ul::before {
        content: "ul";
    }

    ol::before {
        content: "ol";
    }

    li::before {
        content: "/li";
    }

    h1::after {
        content: "/h1";
    }

    h2::after {
        content: "/h2";
    }

    h3::after {
        content: "/h3";
    }

    h4::after {
        content: "/h4";
    }

    h5::after {
        content: "/h5";
    }

    h6::after {
        content: "/h6";
    }

    p::after {
        content: "/p";
    }

    math::after {
        content: "/math";
    }

    ul::after {
        content: "/ul";
    }

    ol::after {
        content: "/ol";
    }

    li::after {
        content: "/li";
    }

}