/*
div.contact-form {

    margin: 1rem;
    padding : 1em;
}
    */
.contact-form {
    overflow-y: scroll;
    height: calc(100vh - var(--header-height));
    padding:1em;
    margin-left: 1rem;    
}