#reverse-common-toolbar{
    grid-area: common-toolbar;
    /* background-color: blue; */
}
#reverse-left-toolbar{
    grid-area: left-toolbar;
    /* background-color: violet;*/
}
#reverse-right-toolbar{
    grid-area: right-toolbar;
    /* background-color: burlywood;*/
}
#reverse-left-panel{
    grid-area: left-panel;
    /* background-color: cornflowerblue; */
    font-size:20px;
    border : 0;
    margin-left: var(--editor-border-margin-border);
    margin-right: var(--editor-border-margin-center);
    outline:none;
}
#reverse-right-panel{
    grid-area: right-panel;
    background-color: white;
    /* background-color: darkgreen; */
    margin-left: var(--editor-border-margin-border);
    margin-right: var(--editor-border-margin-center);
    padding-left: var(--editor-border-margin-border);
    padding-right: var(--editor-border-margin-center);
    
    overflow:scroll;
}
#reverse-editor-footer{
    grid-area: footer;
    /* background-color: darkred; */
}

textarea#reverse-left-panel{
    border:0;

}

#reverse-right-panel {
    math {
        font-size : 200%;
    }
}