.configurations-list {

    .configuration-name {
        font-weight: bold;
    }
    tr {
        vertical-align: middle;
    }
    tr:not(:hover) .btn {
        opacity: 0.5;
    }
    td:not(:first-child) {
        width: 5em;
    }
}