main.natbraille-page-content-container {
    container-type: inline-size;
}

@container (max-width: 740px) {
  /* main.natbraille-page-content-container div.natbraille-options {
               display: block;        
    }*/
    div.natbraille-options nav {
      /*  border : 1px solid black;
        border-radius : 10px;*/
        display:none;
        /*padding:0.0em;*/
    }
}
div.natbraille-options {

    overflow-y: scroll;
    height: calc(100vh - var(--header-height));

    --table-border-color : rgba(0, 0, 0, 0.26);

    /* background-color: red; */
    display: flex;

    nav.natbraille-side-options-navigation  {
             /*background-color: yellow; */
        border-right: 1px solid black;
    }

    div.natbraille-options-setters {
        /* background-color: mediumseagreen; */
        flex-grow: 1;
       
    }
/*
    #Options {
        overflow-y: scroll;
        height: calc(100vh - var(--header-height));
        padding-right:2em;
        padding-left:2em;
        padding-top:2em;
    }*/
}
div.natbraille-options nav.natbraille-side-options-navigation {
    padding:1em;
}
div.natbraille-side-options-navigation {

    
    .option-menu-item::before {
        content: '▸ ';
        padding-right: 0.25em;
    }

    .option-menu-item-not-having-children::before {
        opacity: 0;
    }

    .option-menu-item-having-children.option-menu-item-open::before {
        content: '▾ '
    }

    .option-menu-item-having-children:not(.option-menu-item-open)+nav {
        visibility: collapse;
    }
}
.useless-because-only-one-choice select{    
    opacity : 50%;
}
/*
.braille-table-show {
    border-collapse: collapse;
    margin-bottom :1em;
}

.braille-table-show td , .braille-table-show th {
    text-align: center;
    border: 1px solid var(--table-border-color);
    
}
*/
// .natbraille-options {
// 
//     .option-menu-item::before {
//         content: '▸ ';
//         padding-right: 0.25em;
//     }
// 
//     .option-menu-item-not-having-children::before {
//         opacity: 0;
//     }
// 
//     .option-menu-item-having-children.option-menu-item-open::before {
//         content: '▾ '
//     }
// 
//     .option-menu-item-having-children:not(.option-menu-item-open)+nav {
//         visibility: collapse;
//     }
// /*
//     .natbraille-side-options-navigation {
//         top: 1em;
//         position: absolute;
//         overflow: auto;
//     }
// */
// /*
//     #Options {
//         top: 1em;
//     }
// */
// /*
//     .natbraille-options-setters {
//         margin-top: 1em;
//         margin-left: 16em;
//         margin-right: 2em;
//     }
//     */
// }