.perkins-keys-config {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: fit-content;

    button {
        width : 10em;
    }
    button:nth-child(1) {
        order: 1;
    }

    button:nth-child(2) {
        order: 3;
    }

    button:nth-child(3) {
        order: 5;
    }

    button:nth-child(4) {
        order: 2;
    }

    button:nth-child(5) {
        order: 4;
    }

    button:nth-child(6) {
        order: 6;
    }
}