/*html,
body {
  height: 100%;
}
*/
#login {
  overflow-y: scroll;
  height: calc(100vh - var(--header-height));
 

}
.form-signin-max-width {
  max-width: 330px;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
/*
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
  border-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/
.form-signin input.notfirst {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input.notlast {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}



/*
.form-signin  div:first-of-type input {
  background-color: red;
}
.form-signin div:last-of-type {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  color:blue;
  border:28px solid orange;
  background-color: yellow;
  font-size:40px;
}
  */