#welcome {
    overflow-y: scroll;
    height: calc(100vh - var(--header-height));

    h1 {
        padding-bottom: 1.5rem;
    }

    article {
        padding-bottom: 2.5rem;
    }

    .credits>*  {
        /*width: 100%;*/
        display: flex;
        justify-content: center;
    }
    
    
    article.logos {
        display: block;        
    }
    
    article.logos > div {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom : 1em;
    }
    
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:2rem;
        margin-right:2rem;
    }

    .credits {
        .version {
            .version-attribute {
                .version-attribute-key {
                    font-weight: lighter;
                    padding-right: 1em;
                    text-align: right;
                }

                .version-attribute-value {
                    font-weight: bold;
                }
            }
        }        
        img {
            max-width: 150px;
            min-width: 150px;
            max-height: 150px;
            display: block;
        }
    }
}