@font-face {
    font-family: "LouisLouis";
    src: url("../../assets/fonts/LouisLouis.woff2") format("woff2")
}

@font-face {
    font-family: "LouisLouisUnicodeOnly";
    unicode-range: U+2800-28FF; /* Braille Patterns */
    src: url("../../assets/fonts/LouisLouisUnicodeOnly.ttf") format("truetype")
}

.braille-text {
    font-family: "LouisLouis";
}

.unicode-braille-text {
    font-family: "LouisLouisUnicodeOnly";
}