body,
div,
header,
main {
    border: 0;
}

:root {
    margin: 0;
    width: 100vw;
    height: 100vh;
    --header-height: 40px;
    --editor-border-margin-border: 0.5em;
    --editor-border-margin-center: 0.20em;
    --toolbar-bottom-border-radius: calc(var(--editor-border-margin-center) * 0.75);
    --button-radius: 4px;

    --background-color: #212121;
    --color: #efefef;
    /*    background-color: var(--background-color);*/
}



$border-radius: 0px;
$nat-logo-border-radius: 2px;
/*$header-height : 50px;*/

$table-color : #d4d4d7;
/* $paper-color : rgb(224, 224, 224); */
$paper-color : rgb(253, 253, 253);
$braille-text-color : black;
$braille-selected-text-color : rgba(189, 230, 91, 0.753);
$paper-table-padding : 10px;

//$editor-column-gap : 0.5em;
body {
    --editor-column-gap: 0.5em;
    --resize-handle-color: hsl(39, 0%, 84%);
    --resize-handle-hover-color: hsl(40, 16%, 30%);
}


.no-select-while-moving-resize-handle {
    user-select: none;
    /* Disables text selection */
    cursor: col-resize;
    /* Matches the cursor style for resizing */
}

#root {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header.natbraille-page-header {
    /* background-color: aqua; */
    height: var(--header-height);


}

/*
div.natbraille-options {
    overflow-y: scroll;
}
*/
main.natbraille-page-content-container {
    height: calc(100vh - var(--header-height));
    /* background-color: coral; */
}

.rounded-bottom-border {
    border-radius: 0 0 var(--toolbar-bottom-border-radius) var(--toolbar-bottom-border-radius);
}

div#split-editor {
    background-color: $table-color;
    display: grid;

    //grid-template-columns: calc(50% - $editor-column-gap / 2 ) $editor-column-gap calc(50% - $editor-column-gap / 2 );
    grid-template-columns: calc(50% - var(--editor-column-gap) / 2) var(--editor-column-gap) calc(50% - var(--editor-column-gap) / 2);
    /*grid-template-columns: 50% 50%;*/
    grid-template-rows: repeat(2, min-content) 1fr min-content;
    grid-template-areas:
        "common-toolbar  common-toolbar common-toolbar"
        "left-toolbar  resize-handle right-toolbar"
        "left-panel  resize-handle right-panel"
        "footer footer footer";
    height: 100%;
    width: 100%;
    //column-gap: $editor-column-gap ;

    div#resize-handle {
        grid-area: resize-handle;
        cursor: col-resize;
        //width: $editor-column-gap;
        width: var(--editor-column-gap);
        /* Slow transition back to orange */
    }

    div#resize-handle {
        background-color: var(--resize-handle-color); // Add a color for the handle
        transition: background-color 1.2s ease;
    }

    div#resize-handle.is-dragging,
    div#resize-handle:hover {
        background-color: var(--resize-handle-hover-color); // Add a color for the handle
        /* filter: saturate(500%); */
        transition: background-color 0.4s ease;
    }


    div#common-toolbar {
        grid-area: common-toolbar;
        /* background-color: blue; */
    }

    div#natbraille-editor-noir-menubar {
        grid-area: left-toolbar;
        /* background-color: blueviolet; */
    }

    div.ProseMirror {

        margin-left: var(--editor-border-margin-border);
        margin-right: var(--editor-border-margin-center);

        overflow-y: scroll;
        grid-area: left-panel;
        background-color: white;
        /* background-color: brown; */
    }

    div#right-toolbar {
        grid-area: right-toolbar;
        /* background-color: chartreuse; */
    }

    div.braille-layout-markup {
        padding-top: 1em;
        margin-left: var(--editor-border-margin-center);
        margin-right: var(--editor-border-margin-border);

        /*div.braille-layout-container-markup {*/
        overflow-y: scroll;
        grid-area: right-panel;
        /* background-color: chocolate; */
    }

    div#editor-footer {
        font: monospace;
        font-size: 10px;
        grid-area: footer;

        text-align: right;
        padding-right: 1em;


        /* background-color: darkgreen; */
    }
}

.no-drag {
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: auto;

}

/*  ---------------- */
header.natbraille-page-header {

    height: var(--header-height);


    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;

    div.full-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25em;
    }

    background-color: var(--background-color);
    color: var(--color);
    width: 100%;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    span {
        margin: 5px;
        user-select: none;
    }

    --menu-button-border-color : rgb(48, 48, 48);
    --menu-button-inactive-background-color : rgb(56, 56, 56);
    --menu-button-active-background-color : rgb(92, 92, 92);

    a {
        padding-right: .5em;
        padding-left: .5em;
        padding-top: .125em;
        padding-bottom: .125em;
        text-decoration: none;
        border: 1px solid var(--menu-button-border-color);
    }

    a {
        background-color: var(--menu-button-inactive-background-color);
        border-radius: 3px;
        color: white;
    }

    a:hover {
        filter: brightness(1.2);
    }

    a.active {
        background-color: var(--menu-button-active-background-color);
    }

    a.active {
        text-decoration: none;
    }

    .natbraille-logo {
        height: calc(var(--header-height) - 8px);
        background-color: var(--color);
        border-radius: $nat-logo-border-radius;
        padding: 2px;
    }

    .natbraille-name {
        font-size: 20px;
        margin-left: auto;
        padding-right: 5px;
    }

    .dropdown-item.active {
        // no indication for active item
        background-color: var(--background-color);
    }

    .dropdown-menu {
        background-color: var(--background-color);
    }

    /* and .dropdown-item.*/
}

/**
 * menu bar
 */

#natbraille-editor-noir-menubar {
    z-index: 25
        /* just for left panel drop shadow to be displayed */
}



#reverse-left-toolbar,
#reverse-right-toolbar,
#right-toolbar,
.natbraille-editor-menubar {
    filter: drop-shadow(0px 9px 5px #5e5e5e4d);

    font-size: smaller;
    --border-size: 1px;
    --background-color: rgb(124, 124, 124);
    /* --border-color: rgb(255, 255, 255);*/
    --border-color: rgba(0, 0, 0, 0.5);
    background-color: var(--background-color);

    display: flex;
    align-items: center;

    .natbraille-editor-menubar-subbar {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 0.25em;
        margin-right: 0.25em;

        select,
        .toolbar-item {
            padding: 0.5em;
            border: var(--border-size) solid var(--border-color);
            border-right: 0px;
            border-radius: 0px 0px 0px 0px;
        }

        .toolbar-item:first-child {
            border-top-left-radius: var(--button-radius);
            border-bottom-left-radius: var(--button-radius);
        }

        .toolbar-item:last-child {
            border-top-right-radius: var(--button-radius);
            border-bottom-right-radius: var(--button-radius);
            border-right: var(--border-size) solid var(--border-color);
        }
    }

    .natbraille-editor-menubar-subbar.dropdown {
        .toolbar-item {
            /* drop down menubar-subbar has the dropdown menu as second child so this is needed to also round child toolbar-item as :last-child */
            border-top-left-radius: var(--button-radius);
            border-bottom-left-radius: var(--button-radius);
            border-top-right-radius: var(--button-radius);
            border-bottom-right-radius: var(--button-radius);
        }
    }

    select {
        border: 0px;
    }


    .menuicon-inactive {
        border: 1px solid black;
        color: rgb(134, 134, 134);
    }
}

.natbraille-editor-menuicon {
    text-align: center;
    display: inline-block;
    min-width: 1em;
    border-radius: var(--button-radius);
    border: var(--border-size) solid var(--border-color);
}

/**
 * (right) braille layout 
 */
.braille-layout-markup {

    color: $braille-text-color;
    //  background-color: #212121;
    white-space: pre;
    background-color: $paper-color;

    [selected] {
        background-color: $braille-selected-text-color;
        border-radius: 2px;
        text-decoration: underline;
        text-decoration-style: wavy;
        /* solid, dotted, dashed, double, wavy */
        text-decoration-color: rgba(255, 255, 255, 0);
        /* Any color */
    }

    p {
        display: block;
    }

    block-first-line-indentation {
        white-space: pre;
    }

    character {
        display: inline;
    }

    line-break {
        white-space: pre;
    }

    hr {
        border: $paper-table-padding solid $table-color;
        color: $table-color;
        opacity: 100%;
        padding: 0px;
        margin: 0px;
    }

}

/*
* hide / show hamburger menu in toolbars according to their width
* using container queries.
*/

#natbraille-editor-noir-menubar,
#right-toolbar,
#reverse-left-toolbar,
#reverse-right-toolbar {
    container-type: inline-size;

    /* activate container queries */
    .dropdown-menu {
        --noop : 0;
    }
}

/* noir -> braille : noir toolbar */

#natbraille-editor-noir-menubar>.natbraille-editor-menubar-subbar.dropdown {
    display: none;
}

@container (max-width: 622px) {
    #natbraille-editor-noir-menubar>.natbraille-editor-menubar-subbar:not(.dropdown) {
        display: none;
    }

    #natbraille-editor-noir-menubar>.natbraille-editor-menubar-subbar.dropdown {
        display: revert;
    }
}

/*  noir -> braille : noir toolbar */

#right-toolbar>.natbraille-editor-menubar-subbar.dropdown {
    display: none;
}

@container (max-width: 435px) {
    #right-toolbar>.natbraille-editor-menubar-subbar:not(.dropdown) {
        display: none;
    }

    #right-toolbar>.natbraille-editor-menubar-subbar.dropdown {
        display: revert;
    }

}

/*
* hide / show hamburger menu in header toolbar according to their width
* using container queries.
*/
header.natbraille-page-header {
    container-type: inline-size;
}

header.natbraille-page-header>div.reduced-content {
    display: none;
}

@container (max-width: 510px) {
    header.natbraille-page-header>div.reduced-content {
        /* position: static !important; */
        display: revert;
    }

    header.natbraille-page-header>div.full-content {
        display: none;
    }

}