#rgpd-profile {
    overflow-y: scroll;
    height: calc(100vh - var(--header-height));
    padding:1em;
    margin-left: 1em;
}

#rgpd-profile {
    .user-data {    
        /*font-variant: small-caps;       */
        font-weight: bolder;
        padding-left : 0.2em;
        padding-right : 0.2em;
        
    }    
}
#rgpd-profil h2 {
    padding-top:0.5em;
    padding-bottom:0.25em;
}