#document-management {

    overflow-y: scroll;
    height: calc(100vh - var(--header-height));
    /*padding-right: 2em;
    padding-left: 2em;
*/
    h1 {
        font-size : 25px;
        padding-bottom : 0.5em;
    }
    h1 i {
        padding-right : 0.25em;
    }
    .file-exists-message{
        padding-top : 0.5em;
    }
    .document-management-block {
        margin : 1em;
        margin-left : 4em;
        margin-right : 4em;
        margin-bottom : 2em;
        .document-management-block-body{
            margin-left : 2em;
            margin-right : 2em;
        
        }
    }
    
    .document-file-open,
    .document-file-import {
        .document-file-input {
            background-color: rgb(201, 201, 201);
            padding: 1em;
            border: 5px solid black;
            border-radius: 5px;

            document-file-import-state {
                font-weight: bold;
            }
        }
    }

    .document-recently-used {
        .document-recently-used-batch-actions {
            display: flex;
            gap: 0.25em;
        }

        .document-recently-used-list {
            .document-recently-used-item:not(:hover) {
                .document-open-button {
                    opacity: 0.5;
                }
            }
        }

        /*
        ul.document-recently-used-list {
            list-style-type: none;

            .document-recently-used-item {
                label {
                    input[type="checkbox"]{
                        margin-right:0.5em;
                    }        
                    span[role="link"]:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        */
    }
}