.profile-avatar {
  /* background-color: var(--bs-primary); */
  background-color: var(--menu-button-inactive-background-color);
  /* color: var(--background-color); */
  /*font-weight: bold;*/
  color: white;
}

.profile-avatar:hover {
  filter: brightness(1.2);
}

.profile-avatar {
  --avatar-size: calc(0.75 * var(--header-height));
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  /* Make it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-initials {
  line-height: 1;
}